.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}
.features .feature {
  flex: 1;
  margin: 0 1rem;
  text-align: center;
}

.features {
  margin-top: 50px; /* ajusta a distÃĒncia desejada */
}

.featureSvg {
  height: 150px;
  width: 200px;
}

.featureSvg img {
  width: 100%;
  height: auto;
}

.featuresSection {
  text-align: center;      /* centraliza o tÃ­tulo e as features */
  margin-top: 10px;        /* distÃĒncia do banner */
}

.featuresTitle {
  font-weight: 700;       /* negrito (bold) */
  color: #1a1a1a;         /* cor do texto em hexadecimal */
  font-size: 2.0rem;      /* tamanho do tÃ­tulo */
}

.features .featureTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}


.featureSvgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Cor padrão (modo claro) */
.featuresTitle {
  color: #000000; /* ou a cor que preferir para o modo claro */
}

/* Cor no modo escuro */
[data-theme='dark'] .featuresTitle {
  color: #000000 !important; /* branco no modo dark */
   
}

/* styles.css ou styles.module.css do seu site */
.docCardItemIcon {
  display: flex;
}